# misc
*.env
!tests/fixtures/test.env
*.log
*key.json
*.pem
*.key
*.crt
*.tgz

# django
*.venv
__pycache__
*.pyc
*.cache
static
staticfile
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea
.mcp.json
.vscode
.zprofile
.ripgreprc
.zshrc
.profile
.claude/



# nextjs
node_modules
*.next
next-env.d.ts
**/sw.js
**/workbox-*.js
*.tsbuildinfo

# cdk
cdk.out
cdk/cdk.context.json
*.out

# celery
celerybeat-schedule
redbeat.ReadBeatScheduler
